{
  "token": "OTQ0NjYwNzA2MjAzMTYwNjQ3.YhE11w.nxFoGEuYGoyzbBJEBN5acw9sn5k",
  "prefix": ".",
  "owner_id": "614914089235513344",
  "owner_reporting": false,
  "presence_refresh_interval": 600000,
  "default_disconnect_timeout": 300,
  "testing_guild_id": null,
  "provider_type": "level",
  "redis_url": "redis://ip:port",
  "enable_tts_channels": false,
  "enable_keep_alive": false
}
